.navigation{
    &__checkbox{
        display: none;
    }
    &__background{
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-black,$color-black-secondary);//radial gradient starts from the middle so kinda like a circle
        z-index: 100;
        //dev purpooses
        transition: transform 0.8s cubic-bezier(0.645, 0.045, 0.355, 1);
       // transform: scale(100);
    }

    &__button{
        background-color: $color-white;
        height: 7rem;
        width: 7rem;
        position: fixed;
        top: 6rem;
        right: 6rem;
        border-radius: 50%;
        z-index: 200;
        box-shadow: 0 1rem 3rem rgba($color-black, $alpha:0.4);
        text-align: center;
        cursor: pointer;
    }
    &__nav{
        height: 100vh;
        //width: 100%;
        position: fixed;
        top:0;
        right: 0;
        z-index:150;
        //so we cant access them like when they are hidden
        opacity: 0;
        width: 0;
        transition: all .8s;
    }
    &__list{
        list-style:none;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        text-align: center;
        width: 100%;
    }
    &__item{
        margin: 1rem;
    }
    &__link{
        &:link,
        &:visited {
        display: inline-block;
        font-size:3rem;
        font-weight: 300;
        padding: 1rem 2rem;
        color: $color-white;
        text-decoration: none;
        text-transform: uppercase;
        background-image: linear-gradient(120deg , transparent 0%,transparent 50%,$color-white 50%);
        background-size: 225%;//so the background covers only 100% we use this to animate the color effect
        transition: all 0.4s;
        span{
            margin-right: 2rem;
        }
    }
    &:hover,
    &:active{
        background-position: 100%;
        color: $color-black;
        transform: translateX(1rem);
        }
    }
    //Functionality
    &__checkbox:checked ~ &__background{
        transform: scale(80);
    }
    &__checkbox:checked ~ &__nav{
        opacity: 1;
        width: 100%;
    }
    //ICon
    &__icon{
        position: relative;
        margin-top: 3.4rem;
        &,
        &::before,
        &::after{
            width: 3rem;
            height: 2px;
            background-color: $color-grey-very-dark;
            display: inline-block;
        }
        &::before,
        &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
        }
        &::before{
            top: -0.8rem;
        }
        &::after{
            top: 0.8rem;
        }
    }

    &__button:hover &__icon::before{ //we can just select it like this because its the chil element
        top:-1rem;
    }
    &__button:hover &__icon::after{ //we can just select it like this because its the chil element
        top:1rem;
    }

    &__checkbox:checked + &__button &__icon {
        //we select the sibling first with the button and then select its child 
        background-color: transparent;//doing this will hideee the maine leelemnt not the before and after eleements
    }
    &__checkbox:checked + &__button &__icon::before {
        //we select the sibling first with the button and then select its child 
        top:0;
        transform: rotate(135deg);;//doing this will hideee the maine leelemnt not the before and after eleements
    }
    &__checkbox:checked + &__button &__icon::after {
        //we select the sibling first with the button and then select its child 
        top:0;
        transform: rotate(-135deg);;//doing this will hideee the maine leelemnt not the before and after eleements
    }
}