$color-primary:#55c57a;
$color-primary-dark-solid:#24b471;
$color-primary-light:#7ed56fcc;
$color-primary-dark:#28b485cc;
$color-white:#fff;
$color-grey:#777;
$color-grey-dark:#999;
$color-grey-very-dark:#333;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-black: #000;
$color-black-overlay:rgba(0, 0, 0, 0.19);
$color-black-secondary:rgb(20, 20, 20);


$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;

//font sizes
$default-font-size:1.6rem;
$default-text-size:1rem;


$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:7rem;


$basic-border-radius:3px;